# Exclude source code and configs
**/*.ts
**/*.map
src/
.vscode/
tests/
*.lock
esbuild.js
eslint.config.mjs
.vscode-test.mjs
vsc-extension-quickstart.md
.gitignore

# Explicitly include needed files
!README.md
!CHANGELOG.md
!LICENSE.txt
!dist/